@model PruebaPersonaDao.Cliente

@{
    ViewBag.Title = "Eliminar Cliente";
}

<h2 class="text-center">Eliminar Cliente</h2>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cédula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cédula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Salir", "Index")
        </div>
    }
</div>
